html { 
  height:100%; 
}

footer{ 
  position:fixed; 
  bottom:0; 
  width:100%;
  flex-shrink: none;
  bottom: 0;
}

.content {
  background-image: url("https://images.unsplash.com/photo-1521295121783-8a321d551ad2?ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80");
  font-family: 'Literata', serif;
  color: white;
  position:relative;
  background-size: cover;
  background-position: center;
  text-align: center;
  min-height:100%; 
  padding-top: 25%;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4), 
                  0px 8px 13px rgba(0,0,0,0.1),
                  0px 18px 23px rgba(0,0,0,0.1);
}

h1 {
  font-weight: 700;
  font-size: 5em;
}

hr {
  width: 400px;
  border-top: 1px solid #f8f8f8;
  border-bottom: 1px solid rgba(0,0,0,0.2);
}